{% extends "layout.html" %}
{% block content %}
<head>
    <title>Home</title>
    <h1 style="color:lightcoral; text-align: center"></h1>
</head>
<body>
    <div class="flex_container"
     style="font: size 24px">
        <div>La <strong>aventura erasmus</strong> puede parecer caótica, pero al mismo tiempo ser la etapa más bonita de tu vida estudiantil.</div>   
     </br>
    </br>
    <div>Buscamos desprendernos del atributo caótico haciendo de la experiencia fácil, accesible e interactiva.</div>
    <div class="flex_container"
    </br> 
    Para conocer más sobre nuestro <strong>modelo de negocio</strong>, visitar el siguiente (<a href="{{ url_for('business') }}">enlace</a>). 
    Para utilizar nuestra <strong>app</strong>,
    visitar el siguiente (<a href="{{ url_for('ERASMUSAL') }}">enlace</a>).
    <br>
</p>
<p style="font-size:36px">
    Queremos que conozcais a las personas que quieren hacer de vuestra experiencia mucho más especial. Todos somos estudiantes de la asignatura Emprendedores de la PYMES, en la USAL.
</p>
<div class="flex_container"
 style="font: size 36px; text-align: left">
    <strong>Desarrolladores:</strong>
    <ul style="font-size:24px; text-align: left">
        <li>
            <div class="flex_container"
            <strong>Dessarrollador 1</strong>: Lucia Leralta Aparicio. <a href="https://www.linkedin.com/in/lucia-leralta-aparicio-b06946225/" target="_blank" class="btn btn-primary btn-lg mr-2", style="background-color:#f3c0c0;">linkedin</a>.
        <li>
            <div class="flex_container"
            <strong>Dessarrollador 2</strong>: Nerea de Sousa Patao. <a href="https://www.linkedin.com/in/elena-garc%C3%ADa-b323b632a?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=android_app" target="_blank" class="btn btn-primary btn-lg mr-2", style="background-color:#f3c0c0;">linkedin</a>.
        </li>
        <li>
            <div class="flex_container"
            <strong>Dessarrollador 3</strong>: Pablo Pavón González. <a href="http://www.linkedin.com/in/pablo-pavón-gonzález-7a4b6327a" target="_blank" class="btn btn-primary btn-lg mr-2", style="background-color:#f3c0c0;">linkedin</a>.
        </li>
        <li>
            <div class="flex_container"
            <strong>Dessarrollador 4</strong>: Laura Vega Santiago. <a href="https://www.linkedin.com/in/laura-vega-santiago-6724a2339?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=ios_app" target="_blank" class="btn btn-primary btn-lg mr-2", style="background-color:#f3c0c0;">linkedin</a>.
        </li>
        <li>
            <div class="flex_container"
            <strong>Dessarrollador 5</strong>: Alberto Patricio Martín. <a href="https://www.linkedin.com/in/alberto-patricio-6394b1339/" target="_blank" class="btn btn-primary btn-lg mr-2", style="background-color:#f3c0c0;">linkedin</a>.
        </li>
        <li>
            <div class="flex_container"
            <strong>Dessarrollador 6</strong>: Celia de Roa Moral. <a href="https://www.linkedin.com/in/celia-de-roa-moral-6386762a0?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=ios_app" target="_blank" class="btn btn-primary btn-lg mr-2", style="background-color:#f3c0c0;">linkedin</a>.
        </li>
        <li>
            <div class="flex_container"
            <strong>Dessarrollador 7</strong>: Elena García Aragunde. <a href="https://www.linkedin.com/in/elena-garc%C3%ADa-b323b632a?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=android_app" target="_blank" class="btn btn-primary btn-lg mr-2", style="background-color:#f3c0c0;">linkedin</a>
            .
        </li>
    </ul>
</body>
</p>
{% endblock content %}

